:root {
    --primary-blue: #a2d2ff;
}

.logo {
    width: 260rem;
 


}
/* contain */
.contain{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    position: center;


}

/* about me section */
.aboutme {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

/* projects section */
.projects {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}



nav ul li {
    text-transform: uppercase;
    cursor: pointer;
    color:  #a2d2ff;
    float: left;
    
  

}


/* header  */
.header-wrapper {
    position: relative;
    background: url("./assets/images/cb479679965428ec22e87e97f810f75f.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: blur(0px);



}

/* about me info */
.aboutmeinfo {
    width: 1000px;
    height: 100px;
    padding-left: 3px;
    text-align: right;
}

/* about me pic */
.aboutmepic {
    position: absolute;
    width: 300px;

    position: absolute;






}

.contain {
    padding: 30px;
    position: center;

}


.customNav {
    background-color: #ffc8c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    color: #003049;
    font-weight: 500;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
}


.footerdooter {
    background-color: #f28482;
    background-size: 260em;
    position: absolute;
    bottom: 0;
    width: 100%;

}