:root{
    --primary-blue: #a2d2ff;
}

.logo {
    width: 260rem;

}

/* menu links */
nav a.nav-link {
font-weight: 500;
letter-spacing: 0.0375rem;
cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    color: var(--primary-blue); 
     
}


/* header  */
.header-wrapper {
    position: relative;
    background: url("./assets/images/cb479679965428ec22e87e97f810f75f.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;

}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;
    color:#f28482;
}

.customNav {
    background-color: #ffc8c8;
}